# -----------------------
# 공통
# -----------------------
# OS, 에디터 관련
.DS_Store
Thumbs.db

# IDE 관련
.idea/
.vscode/

# 로그 파일
*.log

# -----------------------
# Backend (Gradle)
# -----------------------
/backend/.gradle/
/backend/build/
/backend/out/
**/build/

# Gradle Wrapper
/gradle/wrapper/gradle-wrapper.jar

# IntelliJ 설정 제외 (이미 .idea/로 걸림)

/backend/.idea/

# -----------------------
# Frontend (Node / Svelte)
# -----------------------
/frontend/node_modules/
/frontend/.svelte-kit/
/frontend/build/
/frontend/dist/

# npm 로그
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 환경설정 파일
/frontend/.env
/frontend/.env.local
/frontend/.env.*.local

# IDE 설정 제외 (이미 .idea/로 걸림)
/frontend/.idea/
